<div class="container mt-5">
    <div class="card shadow p-4">
        <h1 class="text-center mb-4">Lista de productos</h1>

        <div id="products-box" class="mt-4 border p-3 rounded bg-white" style="overflow-y: auto;">
            <!-- Los productos aparecerán aquí -->
        </div>
    </div>
</div>